.content {
  background: var(--main-bg-color);
  width: 100%;
  height: calc(100vh - var(--header-height));

  .table-header {
    padding: 11px 15px;
    font-size: 18px;
    line-height: 21.09px;
    color: var(--main-text-color);
    border-right: 1px solid var(--grey);
    width: fit-content;
  }

  .table-content {
    border-top: 1px solid var(--grey);
    background: var(--secondary-bg-color);
    padding: 0 10px;

    .table {
      color: var(--main-text-color);
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          th {
            text-align: start;
            font-size: 14px;
            line-height: 18.2px;
            color: var(--secondary-text-color);
            font-weight: 400;
            height: 50px;
          }
        }
      }

      tbody {
        tr {
          height: 60px;
          border-top: 1px solid var(--grey);
        }
      }
    }
  }
}

.row-action {
  min-width: 61px;
  .file {
    display: flex;
    gap: 7px;
    padding: 6px 7px;
    &.editable {
      img {
        cursor: pointer;
      }
      &:hover {
        width: fit-content;
        border-radius: 6px;
        background: var(--grey);
      }
    }
  }
}

.node-child {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -175%;
    left: -40%;
    height: 230%;
    width: 2px;
    background: var(--main-text-color);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -40%;
    height: 2px;
    width: 50%;
    background: var(--main-text-color);
  }
}

input {
  background: none;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 10px;
  color: var(--main-text-color);
}
